<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="bg-gradient-to-t from-pink-500 to-yellow-200 box-shadow">
    <ion-card-header>
      <ion-card-title class="text-gray-800 text-4xl dark:text-gray-500 ">Cyber Cody</ion-card-title>
    </ion-card-header>
    <ion-card-content class="flex justify-center">
      <img   src="https://codigofacilito.com/assets/cyber-2020/cody-aed6632577d212a21e2068dfa39a6194a7f3d4615667078f5e300bdc69c1862c.png" alt="">
    </ion-card-content>
  </ion-card>
</ion-content>
